<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="/stylesheets/main_style.css">
</head>
<body>
    <div class="main">
        <h1 style="color: var(--yellow);">404 - Страница не найдена</h1>
        <p>Запрошенная страница не существует.</p>
        <a href="/" style="color: var(--yellow);">Вернуться на главную</a>
    </div>
</body>
</html>