<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Панель администратора</title>
</head>
<body>
    <div class="main">
        <div class="banner">
            <h1>Панель администратора</h1>
        </div>

        <div class="forms">
            <h2>Список заявок</h2>
            <table class="admin-table">
                <thead>
                    <tr>
                        <th>{{name}}</th>
                        <th>{{login}}</th>
                        <th>{{password}}</th>
                    </tr>
                </thead>
                <tbody id="allUsers"></tbody>
            </table>
        </div>
    </div>
    <script src="../services/UserService.js"></script>
</body>
</html>
