<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Вход</title>
</head>
<body>
    <div class="main">
        <div class="logo">
            <img src="">
        </div>
        
        <div class="forms">
            <h2>Вход</h2>
            <form id="loginForm">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Введите имя пользователя (логин)" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Введите пароль" required>
                </div>
                <button type="submit" class="form-control">Войти</button>
            </form>
            <p>Нет аккаунта? <a href="register">Зарегистрироваться</a></p>
        </div>
    </div>
     <script>
    document.getElementById('loginForm').addEventListener('submit', async (event) => {
    event.preventDefault();

    const formData = new FormData(event.target);
    const username = formData.get('username');
    const password = formData.get('password');

    try {
        const response = await fetch('/auth/enter', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        if (!response.ok) {
            const errorText = await response.text();
            throw new Error(`Ошибка ${response.status}: ${errorText}`);
        }

        const result = await response.json();

        if (result.message === 'Вход выполнен успешно') {
            alert('Вход выполнен успешно!');
            window.location.href = '.'; 
        } else {
            alert('Ошибка: ' + result.error);
        }
    } catch (error) {
        console.error('Ошибка при отправке запроса:', error);
        alert('Ошибка при отправке запроса: ' + error.message);
    }
});
    </script>
    
</body>
</html>


