:root {
    --main-color: rgb(28, 27, 23);
    --white: rgb(254, 254, 252);
    --yellow: rgb(255, 205, 10);
    --price-color: rgb(205, 180, 130);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh; /* Минимальная высота на весь экран */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    display: grid;
    width: 100%;
    min-height: 100vh; /* Минимальная высота на весь экран */
    background-color: var(--main-color);
}

.upline {
    display: grid;
    height: 17vh;
    background-color: var(--main-color);
}

@media (max-width: 480px) {
    .upline {
        height: 10vh;
    }
}

.maintext {
    display: grid;
    height: 30vh;
    background-color: var(--main-color);
}

.switchmenu {
    display: flex;
    height: 60vh;
    background-color: var(--white);
    justify-content: space-around;
    align-items: center;
    overflow-x: scroll;
}

.stillmenu {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    background-color: var(--main-color);
    gap: 20px;
    height: auto;
}

.stillmenu img {
    width: 70vw; 
    height: auto; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

.stillmenu img:hover {
    transform: scale(1.05);
}



.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--yellow);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.3s;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    color: var(--yellow);
}

#h1 {
    color: var(--yellow);
}

.meats {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: var(--price-color);
}

.burgers {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 50vw;
    background-color: var(--yellow);
    flex-shrink: 0;
    margin-right: 10px;
}

#menu_button {
    background-color: var(--yellow);
    background-image: url('/images/logo.png');
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}

#add_button {
    height: 70px;
    background-color: var(--yellow);
    border: 0.1em solid rgb(0, 0, 0);
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.3s ease-in-out;
}

#add_button:hover{
    background-color: black;
}


.dropdown-menu {
    position: fixed;
    left: -250px;
    top: 0;
    height: 47vh;
    width: 250px;
    border: 0.1em solid rgb(0, 0, 0);
    background-color: var(--white);
    transition: left 0.3s ease-in-out;
}

.dropdown-menu a {
    color: var(--main-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: var(--yellow);
}

.dropdown-menu.show {
    left: 0;
}

.dropdown-menu.show ~ .upline #menu_button {
    opacity: 0;
    pointer-events: none;
}
